nav {
    display: flex; 
    justify-content: space-between; /* di
    align-items: center; /* align items vertically */
    padding: 20px; /* add some padding */
    background-color: #4837D1;/* set background color */
  }
  
  .logo img {
    width: 45px; /* set logo width */
    height:55px
  }
  
  .nav-links {
    display: flex; /* enable flexbox layout */
  }
  
  .nav-links a {
    margin-right: 30px; /* add some space between links */
    text-decoration: none; /* remove underline */
    color: #ffffff; /* set text color */
    font-size: 18px; /* set font size */
    font-weight: 600; /* set font weight */
  }
  
  .nav-links a:hover {
    color: #006699; /* change text color on hover */
  }
  
  .apply-btn {
    background-color: #00D746; /* set new button color */
    color: #ffffff; /* white color */
    text-decoration: none; /* remove underline */
    padding: 10px 20px; /* add padding */
    border-radius: 4px; /* add rounded edges */
    font-weight: 600; /* set font weight */
    transition: all 0.2s ease-in-out; /* add transition effect */
  }
  
  .apply-btn:hover {
    color: #4837D1;
    background-color: #ffffff; /* darker blue color on hover */
    transform: translateY(-2px); /* add hover effect */
  }
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "slider"
      "modern-section"
      "team-section"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5";
    grid-row-gap: 20px;
    height: 100vh;
  }
 
.modern-section {
    width: 97%; /* full viewport width */
    height: auto; /* auto height */
    background-color: white; /* set background color */
    padding: 20px; /* add padding */
    display: flex; /* enable flexbox layout */
    align-items: center; /* align items vertically */
    justify-content: center; /* align items horizontally */
  }

.inline-block {
    display: inline-block; /* make the paragraphs display as inline blocks */
    width: 49%; /* set the width of each paragraph */
    margin-right: 1%; /* add margin right to the paragraphs */
}

  
  .container {
    width: 65%; /* 80% of the viewport width */
    height: 300px; /* auto height */
    background-color: #ffffff; /* set background color */
    padding: 20px; /* add padding */
    border-radius: 8px; /* add rounded edges */
    box-shadow: 0px 0px 20px #cccccc; /* add shadow effect */
    display: inline-block;
    margin-bottom: 500px;
    border-bottom: 10px solid green;
    font-family: 'Open Sans', sans-serif; /* specify the font-family for p */
    font-size: 18px; /* set font size */
    font-weight: 400; /* set font weight */
    line-height: 1.5; /* set line height */
    color: #333333; /* set text color */
    margin-bottom: 40px; /* add margin below p */
  }
  .container .headings{
    margin-right: 1200px;
    margin-bottom: 500px;
  }
  .container .paras{
    margin-top: -700px;
    margin-right: 50px;
   

  }
  #paratwo{
    float:right;
    margin-top: -250px;
    margin-right: -100px;
    margin-top: -325px;
  }
  #paraone{
    margin-left: -100px;
  }
  .container p {
    font-family: 'Open Sans', sans-serif; /* specify the font-family for p */
    font-size: 18px; /* set font size */
    font-weight: 400; /* set font weight */
    line-height: 1.5; /* set line height */
    color: #333333; /* set text color */
    margin-bottom: 40px; /* add margin below p */*/
  }
  body {
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100vh;
  }
  
  .team-section {
    width: 100%; /* full viewport width */
    padding: 40px 0; /* add top and bottom padding */
    text-align: center; /* center align the text */
   
  }
  
  .team-section h2 {
    font-family: 'Open Sans', sans-serif; /* specify the font-family for p */
    font-size: 18px; /* set font size */
    font-weight: 400; /* set font weight */
    line-height: 1.5; /* set line height */
    color: #333333; /* set text color */
    margin-bottom: 40px; /* add margin below p */*/
  }
  
  .team-section p {
    font-family: 'Open Sans', sans-serif; /* specify the font-family for p */
    font-size: 18px; /* set font size */
    font-weight: 400; /* set font weight */
    line-height: 1.5; /* set line height */
    color: #333333; /* set text color */
    margin-bottom: 40px; /* add margin below p */
  }
  
  .team-members {
    display: flex; /* enable flexbox layout */
    flex-wrap: wrap; /* enable wrapping of elements */
    justify-content: center; /* center align the elements */
  }
  
  .team-member1 {
    width: 200px; /* set width to 25% of the container width */
    height: 200px;
    margin-top: -50px ;
  }
  .team-member2{
    width:200px;
    height:200px;
    margin-top: -250px;
    margin-left: 300px;
  }
  .team-member3
  
  .team-member img {
    width: 100%; /* set image width to 100% of the container width */
    border-radius: 50%; /* add rounded edges to the image */
    margin-bottom: 20px; /* add margin below image */
  }
  
  .team-member h3 {
    color: #333333; /* set name color */
    font-size: 24px; /* set name font size */
    font-weight: 600; /* set name font weight */
    margin-bottom: 10px; /* add margin below name */
  }
  
  .team-member p {
    color: #333333; /* set position color */
    font-size: 18px; /* set position font size */
    font-weight: 400; /* set position font weight */
  }
  section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
}
.section1 h1 {
    font-family: 'Inter', sans-serif; /* specify the font-family for h1 */
    font-size: 36px; /* set font size */
    font-weight: 600; /* set font weight */
    color: #4837D1; /* set text color */
    margin-bottom: 20px; /* add margin below h1 */
  }
  
  .section1 p {
    font-family: 'Open Sans', sans-serif; /* specify the font-family for p */
    font-size: 18px; /* set font size */
    font-weight: 400; /* set font weight */
    line-height: 1.5; /* set line height */
    color: #333333; /* set text color */
    margin-bottom: 40px; /* add margin below p */
  }
  .hero-section {
    width: 100%;
    height: 800px; /* set the height of the hero image */
    background-size: cover; /* scale the background image to cover the entire container */
    background-position: center; /* center align the background image */
    position: relative; /* set position relative for the hero section */
}

.hero-section img {
    width: 100%;
    height: 100%; /* set the height of the hero image */
    object-fit: cover; /* scale the image to cover the entire container */
    object-position: center; /* center align the image */
    position: absolute; /* set position absolute for the hero image */
    z-index: -1; /* set z-index to place the image behind other elements */
}
h2 {
    color: #4837D1;
    font-family: Arial, Helvetica, sans-serif; /* set headline color */
    font-size: 36px; /* set headline font size */
    font-weight: 600; /* set headline font weight */
    margin-bottom: 20px; /* add margin below headline */
  }